﻿@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Houses.js")
@Scripts.Render("~/Scripts/Territories.js")

@{
    ViewBag.Title = "Index";
}

<h2>Territoires</h2>

<div id="div_list_territory"></div>
