﻿@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Characters.js")
@Scripts.Render("~/Scripts/Houses.js")
@Scripts.Render("~/Scripts/Territories.js")
@Scripts.Render("~/Scripts/Wars.js")
@Scripts.Render("~/Scripts/Combats.js")
@Scripts.Render("~/Scripts/Details.js")



@{
    ViewBag.Title = "Details";
}

<h2 id="@ViewBag.id">Details</h2>

<div id="content"></div>

