﻿@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Characters.js")
@Scripts.Render("~/Scripts/Houses.js")

@{ 
    ViewBag.Title = "Index";
}

<h2>Maisons</h2>

<div id="div_list_house"></div>
